@using Nop.Web.Framework.UI
@using Nop.Web.Areas.Admin.Models.Catalog
@using Majako.Plugin.Misc.SalesForecasting.Models
@using Nop.Web.Framework.Models.DataTables
@inject Nop.Web.Areas.Admin.Factories.IProductModelFactory productModelFactory
@model ForecastResultModel

@{
    ViewBag.Title = T("Majako.Plugin.Misc.SalesForecasting.SalesForecasting").Text;
    Html.SetActiveMenuItemSystemName("Sales.SalesForecasting");
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    var tableModel = new DataTablesModel
    {
        Name = "forecast-grid",
        UrlRead = new DataUrl("GetResultsPage", "SalesForecasting", null),
        Length = Model.PageSize,
        LengthMenu = Model.AvailablePageSizes,
        Filters = new List<FilterParameter>
        {
            new FilterParameter(nameof(Model.ResultsJson))
        },
        ColumnCollection = new List<ColumnProperty>
        {
            new ColumnProperty(nameof(ForecastResponse.Name))
            {
                Title = T("Majako.Plugin.Misc.SalesForecasting.ProductName").Text
            },
            new ColumnProperty(nameof(ForecastResponse.ProductId))
            {
                Title = T("Majako.Plugin.Misc.SalesForecasting.ProductId").Text,
                Width = "150"
            },
            new ColumnProperty(nameof(ForecastResponse.Sku))
            {
                Title = T("Majako.Plugin.Misc.SalesForecasting.Sku").Text,
                Width = "200"
            },
            new ColumnProperty(nameof(ForecastResponse.Prediction))
            {
                Title = T("Majako.Plugin.Misc.SalesForecasting.Prediction").Text,
                Width = "100",
                ClassName = NopColumnClassDefaults.CenterAll
            }
        }
    };
}

<div class="content-header clearfix">
  <h1 class="pull-left">
    @T("Majako.Plugin.Misc.SalesForecasting.SalesForecasting")
  </h1>
</div>

<div class="content">
  <div class="form-horizontal">
    <div class="cards-group">
      <div class="card card-default">
        <div class="card-body">
          @await Html.PartialAsync("Table", tableModel)
        </div>

        <div class="card-body">
          <div class="form-group row">
            <div class="col-12">
              <div class="row">
                <div class="col-md-6 text-center">
                  @using (@Html.BeginForm("NewForecast", "SalesForecasting", FormMethod.Post))
                  {
                    <button type="submit" class="btn btn-primary" id="new-forecast">
                      <i class="fa fa-plus-square"></i>
                      @T("Majako.Plugin.Misc.SalesForecasting.NewForecast")
                    </button>
                  }
                </div>
                <div class="col-md-6 text-center">
                  @using (@Html.BeginForm("ExportCsv", "SalesForecasting", FormMethod.Post))
                  {
                    <button type="submit" class="btn bg-olive" id="export-csv">
                      <i class="fa fa-download"></i>
                      @T("Majako.Plugin.Misc.SalesForecasting.SaveCsv")
                    </button>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="@(nameof(Model.ResultsJson))" value="@(Model.ResultsJson)" />
